/* Move your styles here when you're ready to clean up your HTML file */

/* Don't forget to link to this file in your HTML, otherwise your styles won't show up! */

/* BASIC SELECTORS */
/* Tag selectors */
html {
   font-size: 18px;
 }

h1 {
  font-family: serif;
}

h2 {
  font-family: serif;
}

header {
  border-bottom: 2px dotted black;
}

/* Class selectors */
ul.class-list {
  list-style-type: square;
}

/* ID selectors */


/* ADVANCED SELECTORS */

/* Combining selectors */


 /*Direct child relationship*/


 /* Pseudo-selectors */
